# Folders #
#.settings/*
target/*
*/tmp/*

*.class

# Package Files #
*.jar
*.war
*.ear

#.classpath
#.project

# Temporary files #
*~*
*/.vpprefdata/*
/Code/Test/Test_Drag_and_Drop/nbproject/private/
/Code/Test/Test_Drag_and_Drop/build/
/Code/Test/Test_Drag_and_Drop/dist/